@media (max-width: 1220px) {
    body {
        background-color: #f44336;
    }
    
    .backgroundVideo {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .mario {
        max-width: 50%;
    }

    .container .infoMovie {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .container .description {
        color: #ffffff;
        text-align: center;
    }

    .container .buttonTrailer {
        background-color: #263238;
    }
}

@media (max-width: 500px) {
    .headerNav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .container .titleImage {
        max-width: 75%;
    }

    .closeModal {
        width: 30px;
        line-height: 30px;
    }

    .modal #video {
        height: 169px;
        width: 300px;
    }
}

@media (max-width: 376px) {
    .modal #video {
        width: 250px;
        height: 140px;
    }
}